<h1> Edit Item </h1>

<%= form_with model: @item, local: true do |form| %>
<p>
    <%= form.label :name %> <br>
    <%= form.text_field :name %>
</p>

<p>
    <%= form.label :quantity %> <br>
    <%= form.number_field :quantity %>
</p>

<%= form.submit "Update Item" %>
<% end %>
<%= link_to " Back to Inventory" , items_path %>
